<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H+ 后台主题UI框架 - Bootstrap Table</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link rel="shortcut icon" href="favicon.ico"> <link href="__STATIC__/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/admin/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/admin/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__STATIC__/admin/css/animate.min.css" rel="stylesheet">
    <link href="__STATIC__/admin/css/style.min.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    
                    <div class="col-sm-12">
                        <a href="{:url('index/user_add')}"><button class="btn btn-primary btn-outline" type="button">添加</button></a>
                        <hr>
                        <h4 class="example-title">数据列表</h4>
                        <div class="example">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th id="ids">ID</th>
                                        <th>管理员</th>
                                        <th>添加时间</th>
                                        <th class="col-sm-1">操作</th>
                                    </tr>
                                </thead>
                                {volist name="data" id="row"}
                                    <tr>
                                        <td>{$row['id']}</td>
                                        <td>{$row['name']}</td>
                                        <td>{:date('Y-m-d H:i:s',$row['time'])}</td>
                                        <td>
                                            <a href="__URL__/user_edit?id={$row['id']}"><button class="btn btn-primary btn-circle" type="button"><i class="fa fa-list"></i></button></a>
                                            <button idx="{$row['id']}" class="deldata btn btn-warning btn-circle" type="button"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                {/volist}
                            </table>
                            {$data->render()}
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        <!-- End Panel Other -->
    </div>
</div>
    <script src="__STATIC__/admin/js/jquery.min.js"></script>
    <script src="__STATIC__/admin/js/bootstrap.min.js"></script>
    <script src="__STATIC__/admin/js/content.min.js"></script>
    <script src="__STATIC__/admin/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="__STATIC__/admin/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="__STATIC__/admin/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="__STATIC__/admin/js/demo/bootstrap-table-demo.min.js"></script>
</body>
<script>
    /*资讯-删除*/
        $(".deldata").click( function() {
            if (confirm("你确定删除吗?")) {  
                id=$(this).attr('idx');
                obj=$(this);
                $.post("__URL__/del_user",{"id":id},function(data){
                    if(data==1){
                        $(obj).parent().parent().remove();
                    }else{
                        alert("删除失败");
                    }
                });
            }
        });
</script>
</html>