<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 基本表单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> <link href="__STATIC__/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/admin/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__STATIC__/admin/css/animate.min.css" rel="stylesheet">
    <link href="__STATIC__/admin/css/style.min.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
            
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>添加数据</h3>  
                    </div>
                    <div class="ibox-content">
                        <form action="{:url('index/user_add')}" enctype="multipart/form-data" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">管理员帐号</label>
                                <div class="col-sm-11">
                                    <input type="text" name="name" placeholder="管理员帐号" class="form-control">
                                </div>
                            </div>
                            <!-- <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">图片：</label>
                                <div class="col-sm-11">
                                    <input type="file" name="file1" class="form-control">
                                </div>
                            </div> -->
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">密码</label>
                                <div class="col-sm-11">
                                    <input type="text" name="pass1" placeholder="管理员密码" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">确认密码</label>
                                <div class="col-sm-11">
                                    <input type="text" name="pass2" placeholder="确认密码" class="form-control">
                                </div>
                            </div>
                            <input class="btn btn-primary" type="submit" value="提交">
                        </form>
                    </div>
                </div>     
            </div>
        </div>
    </div>
    <script src="__STATIC__/admin/js/jquery.min.js"></script>
    <script src="__STATIC__/admin/js/bootstrap.min.js"></script>
    <script src="__STATIC__/admin/js/content.min.js"></script>
    <script src="__STATIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
    
</body>

</html>
